.flashes {
    text-align: center;
    background-color: yellow;
    margin: 10px auto;
    max-width: 60%;
    border-radius: 5px;
}

.card.medium .card-image {
    height: 50%;
}

.socials {
    display: flex;
}