{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">My Account</h3>
    <!-- Account card with details of user -->
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel account">
                <div class="row">
                    <h4 class="center-align">{{user.username.capitalize()}}'s Profile</h4>
                    <div class="center-align">
                        <p><strong>First Name:</strong> {{ user.first_name }}</p>
                        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                        <p><strong>Favourite Cuisine:</strong> {{ user.fav_cuisine }}</p>
                        <p><strong>Date Joined:</strong> {{ user.date_joined.strftime('%Y-%m-%d') }}</p>
                    </div>
                    <!-- edit/delete buttons -->
                    <div class="center-align account-btn">
                        <a href="{{ url_for('edit_account', user_id=user._id) }}" class="waves-effect waves-light btn-small black-text">Edit</a>
                        <a href="#modal3" class="modal-trigger waves-effect waves-light btn-small red darken-3">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal for delete account -->
    <div id="modal3" class="modal">
        <div class="modal-content">
            <h4>Confirm Deletion</h4>
            <p>Are you sure you want to delete your account?</p>
        </div>
        <div class="modal-footer">
            <form action="{{ url_for('delete_user', user_id=user._id) }}" method="POST">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Agree</button>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            </form>
        </div>
    </div>


{% endblock %}