{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>
    <!-- Add recipe form -->
    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="card-panel">
                <div class="row">
                    <!-- Recipe name -->
                    <div class="input-field col s12 m4">
                        <i class="prefix fas fa-utensils"></i>
                        <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                    <!-- Recipe cuisine -->
                    <div class="input-field col s12 m4">
                        <i class="prefix fas fa-tags"></i>
                        <input id="cuisine" name="cuisine" type="text" class="validate" required>
                        <label for="cuisine">Cuisine</label>
                    </div>
                    <!-- Category selection -->
                    <div class="input-field col s12 m4">
                        <select id="category_name" name="category_name" class="validate" required>
                          <option value="" disabled selected>Choose your option</option>
                          {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                          {% endfor %}
                        </select>
                        <label>Choose category</label>
                    </div>
                    <!-- Ingredients field -->
                    <div class="input-field col s12">
                        <i class="prefix fas fa-list-ul"></i>
                        <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate" required>
                        <label for="recipe_ingredients">Ingredients(Separate by a comma please)</label>
                    </div>
                    <!-- Instructions field -->
                    <div class="input-field col s12">
                        <i class="prefix fas fa-book"></i>
                        <textarea id="recipe_instructions" name="recipe_instructions" class="materialize-textarea validate" required></textarea>
                        <label for="recipe_instructions">Instructions(Separate by a comma please)</label>
                    </div>
                    <!-- Photo url -->
                    <div class="input-field col s12">
                        <i class="prefix fas fa-link"></i>
                        <input id="photo_url" name="photo_url" type="text" class="validate" required>
                        <label for="photo_url">Photo URL</label>
                    </div>
                    <!-- Submit -->
                    <div class="input-field col s12 center-align">
                        <button class="btn waves-effect waves-dark deep-orange accent-2" type="submit" name="action" required>
                            Submit
                            <i class="fas fa-paper-plane right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}