{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="#">
            <div class="row">
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="" type="text" class="validate">
                    <label for="">Recipe Name</label>
                </div>
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="" type="text" class="validate">
                    <label for="">Ingredients</label>
                </div>
                <div class="input-field col s12">
                    <i class="prefix"></i>
                    <input id="" type="text" class="validate">
                    <label for="">Instructions</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}