{% extends "base.html" %}
{% block content %}

    <!-- Breakfast section -->
    <h2 class="center-align">Breakfast</h2>
    <div class="row">
        {% for recipe in breakfast %}
            <div class="col s12 m6 l4 xl3">
                <!-- Lunch card -->
                <div class="card medium center-align">
                    <div class="card-image waves-effect waves-block waves-light cardimg">
                        <img class="activator" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                        <p><i class="fas fa-tags"></i><strong>{{ recipe.cuisine }} | {{ recipe.category_name }}</strong></p>
                        <div>
                            <div class="center-align vr-button">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small amber accent-4">View Recipe</a>
                            </div>
                            <div class="center-align">
                                {% if session.user|lower == recipe.author_id|lower or session.user|lower == 'admin' %}
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small grey darken-3">Edit</a>
                                <a href="#modalB{{ loop.index }}" class="modal-trigger waves-effect waves-light btn-small red darken-3">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Lunch section -->
    <h2 class="center-align">Lunch</h2>
    <div class="row">
        {% for recipe in lunch %}
            <div class="col s12 m6 l4 xl3">
                <!-- Lunch card -->
                <div class="card medium center-align">
                    <div class="card-image waves-effect waves-block waves-light cardimg">
                        <img class="activator" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                        <p><i class="fas fa-tags"></i><strong>{{ recipe.cuisine }} | {{ recipe.category_name }}</strong></p>
                        <div>
                            <div class="center-align vr-button">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small amber accent-4">View Recipe</a>
                            </div>
                            <div class="center-align">
                                {% if session.user|lower == recipe.author_id|lower  or session.user|lower == 'admin' %}
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small grey darken-3">Edit</a>
                                <a href="#modalB{{ loop.index }}" class="modal-trigger waves-effect waves-light btn-small red darken-3">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Dinner section -->
    <h2 class="center-align">Dinner</h2>
    <div class="row">
        {% for recipe in dinner %}
            <div class="col s12 m6 l4 xl3">
                <!-- Dinner card -->
                <div class="card medium center-align">
                    <div class="card-image waves-effect waves-block waves-light cardimg">
                        <img class="activator" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
                        <p><i class="fas fa-tags"></i><strong>{{ recipe.cuisine }} | {{ recipe.category_name }}</strong></p>
                        <div>
                            <div class="center-align vr-button">
                                <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small amber accent-4">View Recipe</a>
                            </div>
                            <div class="center-align">
                                {% if session.user|lower == recipe.author_id|lower or session.user|lower == 'admin' %}
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small grey darken-3">Edit</a>
                                <a href="#modalB{{ loop.index }}" class="modal-trigger waves-effect waves-light btn-small red darken-3">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete modal -->
            <div id="modalB{{ loop.index }}" class="modal">
                <div class="modal-content">
                    <h4>Confirm Deletion</h4>
                    <p>Are you sure you want to delete this recipe?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat" >Agree</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}