<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for recipe in recipies %}
        <h1>{{ recipe.recipe_name }}</h1>
        <p><strong>Ingredients:</strong> {{ recipe.recipe_ingredients }}</p>
        <p><strong>Instructions:</strong> {{ recipe.recipe_instructions }}</p>
        <p><strong>Author ID:</strong> {{ recipe.author_id }}</p>
        <hr>
    {% endfor %}
</body>
</html>