{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Recipes</h3>

    <div class="row">
        {% for recipe in recipes %}
                <div class="col s12 m6 l3">
                    <div class="card medium">
                        <div class="card-image waves-effect waves-block waves-light cardimg">
                            <img class="activator" src="{{ recipe.photo_url }}" alt="{{ recipe.recipe_name }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{ recipe.recipe_name }}</span>
                            <p><i class="fas fa-tags"></i>{{ recipe.cuisine }}</p>
                            <div>
                                <div class="center-align vr-button">
                                    <a href="{{ url_for('recipe_details', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small amber accent-4">View Recipe</a>
                                </div>
                                <div class="center-align">
                                    {% if session.user|lower == recipe.author_id|lower %}
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small grey darken-3">Edit</a>
                                    <a href="#modal2" class="modal-trigger waves-effect waves-light btn-small red darken-3">Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div id="modal2" class="modal">
                        <div class="modal-content">
                            <h4>Confirm Deletion</h4>
                            <p>Are you sure you want to delete this recipe?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat" >Agree</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                        </div>
                    </div>
        {% endfor %}
    </div>

{% endblock %}