{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="row">
            <form class="col s12 m8 offset-m2">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-envelope prefix"></i>
                            <input id="email" name="email" type="email" type="text" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}